.body{
    margin-left: 100px;
    margin-right: 100px;
}
.form{
    margin-top: 100px;
}
.save{
    margin-top: 50px;
    height: 40px;
    right: 75px;
}
.pass{
    margin-top: 35px;
}
.h{
    margin-top: 75px;
}

